<div style="padding-bottom: 30px;">
  <div class="card h-100">
    <div style="align-content:center;">
      <img src="/assets/{{ product.image }}" height="164px" width="253px" alt="">
    </div>

    <h4 class="card-title">{{ product.name | titlecase }}</h4>

    <div [ngSwitch]="product.active">
      <p *ngSwitchCase="true">In stock</p>
      <p *ngSwitchCase="false">Out of stock</p>
    </div>

    <div *ngIf="!product.active" class="card-body">
      <div>
        <h4>Tell me when available!</h4>
        <ng-content select=".over"></ng-content>
      </div>
    </div>

    <div *ngIf="product.active" class="card-body">
      <div>
        <h4>{{ product.amount | currency }}</h4>
        <ng-content select=".run"></ng-content>
      </div>
    </div>

    <div class="card-footer">
      <a [ngClass]="product.active ? 'btn btn-success' : 'btn btn-danger'" (click)="issueEvent()"
        href="javascript:void(0)">
        <span><span [ngClass]="product.active ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"> </span>Status</span>
      </a>
      &nbsp;
      <a [routerLink]="['edit/', product.id]" class="btn btn-primary">Edit</a>

    </div>

  </div>
</div>
